body {
    background-color: #8d8383;    
}

.content {
    background-color: #f8e6e6;
    color: cadetblue;
    width: 450px;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}